<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/brum-global-variable/brum-global-variable.html">

<dom-module id="user-dm">

  <template>
    <brum-global-variable key="userToken" value="{{userToken}}"></brum-global-variable>
    <brum-global-variable key="idUser" value="{{idUser}}"></brum-global-variable>

    <cells-generic-dp
      id="userDP"
      host="http://localhost:3000"
      path="charrobank/v1/users"
      method="GET"
      on-request-success="_onRequestOk"
      on-request-error="_onRequestError">
    </cells-generic-dp>
  </template>

  <script>
    {
      // Define the element's API using an ES2015 class
      class UserDM extends Polymer.Element {
        static get is() {
          return 'user-dm';
        }

        // Declare properties for the element's public API
        static get properties() {
          return {
            userToken: {
              type: String,
              notify: true
            },
            idUser: {
              type: String,
              notify: true
            }
          };
        }

        _onRequestOk(evt) {
          console.log('_onRequestOk nombre usuario');
          console.log(evt);
          console.log(evt.detail);
          this.dispatchEvent(new CustomEvent('user-request-ok', evt));
        }

        _onRequestError(err) {
          console.log('_onRequestError error request user-dm');
          console.log(err);
          this.dispatchEvent(new CustomEvent('user-request-ok', err));
        }

        doRequestUser(path, type = 'user-request-start') {
          this.$.userDP.headers = {'x-access-tokensec': this.userToken};
          this.$.userDP.host = window.AppConfig.apibackend;
          this.$.userDP.path = 'charrobank/v1/users/' + this.idUser;
          this.$.userDP.method = 'GET';
          this.$.userDP.generateRequest();
          /*this.dispatchEvent(new Event(type));*/
        }

      }

      // Register the custom element with the browser
      customElements.define(UserDM.is, UserDM);
    }
  </script>
</dom-module>
