<link rel="import" href="../../../components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../../components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../../components/cells-icon-message/cells-icon-message.html">
<link rel="import" href="../../../components/cells-select/cells-select.html">

<dom-module id="enrollment-page">
  <template is="dom-bind" id="enrollment-view">
    <style include="cells-credentials-form-styles">
      .enrollment-form {
        padding: 10px 20px;
      }
      cells-icon-message {
        padding-bottom: 10px;
      }
      cells-select {
        margin-bottom: 0.625rem;
      }
    </style>
    <div class="enrollment-form">
      <template is="dom-if" if="[[error]]">
        <cells-icon-message  icon="coronita:alert" type="warning" icon-label="" icon-size="26" message="[[error]]"></cells-icon-message>
      </template>
      <form action="" on-submit="_doEnrollment" class="credentials-form" on-keypress="_onKeyPress" novalidate="">
        <div class="credentials-form__inputs">
          <cells-select id="combo" value="{{label}}" options="{{options}}" label="Sexo" right-icon="coronita:unfold" placeholder="Selecciona un tipo"></cells-select>
          <cells-molecule-input id="input-first-name" value="{{name}}" label="Nombre" type="text" auto-validate required error-message="Debes introducir el nombre" error-icon="coronita:alert"></cells-molecule-input>
          <cells-molecule-input id="input-first-name" value="{{firstName}}" label="Primer Apellido" type="text" auto-validate required error-message="Debes introducir el primer apellido" error-icon="coronita:alert"></cells-molecule-input>
          <cells-molecule-input id="input-first-name" value="{{lastName}}" label="Segundo Apellido" type="text" auto-validate required error-message="Debes introducir el segundo apellido" error-icon="coronita:alert"></cells-molecule-input>
          <cells-molecule-input id="user-input-id" value="{{userId}}" label="Email" type="email" auto-validate required error-message="Debes introducir un email válido" error-icon="coronita:alert"></cells-molecule-input>
          <cells-molecule-input id="user-input-pwd" value="{{userPassword}}" label="Pasword" type="password" auto-validate required error-message="Debes introducir una password" error-icon="coronita:alert"></cells-molecule-input>
          <cells-molecule-input id="user-input-pwd" value="{{_userPassword}}" label="Repita Pasword" type="password" auto-validate required error-message="Debes introducir una password" error-icon="coronita:alert"></cells-molecule-input>
        </div>

        <aside class="credentials-form__extra-actions">
          <div class="credentials-form__submit">
            <cells-st-button class="secondary">
              <button id="registerBtn" type="submit" disabled$="[[!_isSubmitEnabled]]">Hazte cliente</button>
            </cells-st-button>
          </div>
        </aside>
      </form>
    </div>
  </template>

  <script>
    {
      class EnrollmentPage extends Polymer.Element {
        static get is() {
          return 'enrollment-page';
        }

        static get properties() {
          return {
            /**
             * User name
             */
            name: {
              type: String,
              notify: true,
              value: ''
            },
            /**
             * User first name
             */
            firstName: {
              type: String,
              notify: true,
              value: ''
            },
            /**
             * User last name
             */
            lastName: {
              type: String,
              notify: true,
              value: ''
            },
            /**
             * Invalid status of the form
             */
            invalid: {
              type: Boolean,
              reflectToAttribute: true,
              notify: true
            },
            /**
             * User identification (email)
             */
            userId: {
              type: String,
              notify: true,
              value: ''
            },
            /**
             * User password, access key or similar
             */
            userPassword: {
              type: String,
              notify: true,
              value: ''
            },
            /**
             * Repeat password to validate
             */
            _userPassword: {
              type: String,
              notify: true,
              value: ''
            },
            /**
             * Returns true if userId and userPassword are not null.
             */
            _isSubmitEnabled: {
              type: Boolean,
              computed: '_computeIsSubmitEnabled(name, firstName, lastName, userId, userPassword, _userPassword)'
            },
            error: {
              type: String,
              notify: true
            },
            options: {
              type: Array,
              value: [{label: 'Hombre', value: 'men'}, {label: 'Mujer', value: 'women'}]
            },
            label: {
              type: String,
              notify: true
            }
          };
        }

        static get observers() {
          return [
            '_clearInvalid(userId, userPassword)',
            '_invalidObserver(invalid)'
          ];
        }

        ready() {
          console.log('ready');
          super.ready();
        }

        /**
         * Resets user to initial state.
         */
        resetUser() {
          this.userId = '';
          this._userId = '';
          this.userName = '';
          if (this.shadowRoot.querySelector('#user-input-id')) {
            this.shadowRoot.querySelector('#user-input-id').validate();
          }
        }
        /**
         * Resets password to initial state.
         */
        resetPassword() {
          this.userPassword = '';
          if (this.shadowRoot.querySelector('#user-input-pwd')) {
            this.shadowRoot.querySelector('#user-input-pwd').validate();
          }
        }
        /**
         * Resets component to initial state.
         */
        reset() {
          console.log('reset');
          this.resetUser();
          this.resetPassword();
        }

        _onKeyPress(e) {
          if (e.keyCode === 13) {
            e.preventDefault();
            this.$.registerBtn.click();
          }
        }

        /**
         * Toggles invalid state on input fields
         * @param {String} newvalue
         */
        _invalidObserver(newvalue) {
          console.log('_invalidObserver');
          this.shadowRoot.querySelector('#user-input-id').invalid = newvalue;
          this.shadowRoot.querySelector('#user-input-pwd').invalid = newvalue;
        }
        /**
         * Change form invalid property when an input changes
         */
        _clearInvalid() {
          console.log('_clearInvalid');
          console.log(this.invalid);
          if (this.invalid) {
            this.invalid = false;
          }
        }
        /**
         * Returns true if user, password and documentType (only if it is required)
         * @param {String} userId
         * @param {String} userPwd
         * @return {Boolean}
         */
        _computeIsSubmitEnabled(name, firstName, lastName, userId, userPwd, _userPwd) {
          console.log('_computeIsSubmitEnabled');
          return !!(firstName && lastName && userId && userPwd && _userPwd);
        }
        /**
         * Action done when submitting the form.
         *
         * @param {Event} e
         */
        _doEnrollment(e) {
          console.log('_doEnrollment');
          this.error = null;
          e.preventDefault();
          if (this._checkIfSubmit()) {
            console.log('Disparado evento enrollment');
            this.dispatchEvent(new CustomEvent('enrollment-request', {
              bubbles: true,
              composed: true,
              detail: {
                sex: this.label,
                name: this.name,
                first_name: this.firstName,
                last_name: this.lastName,
                email: this.userId,
                password: this.userPassword
              }
            }));
          }
        }
        /**
         * Checks if user/password fields are invalid before form submission
         *
         */
        _checkIfSubmit() {
          console.log('_checkIfSubmit');
          console.log('this.label:' + this.label);
          if (this.invalid !== undefined && this.invalid) {
            return false;
          } else {
            var userInvalid = false;
            if (!this.isLogged) {
              this.shadowRoot.querySelector('#user-input-id').validate();
              userInvalid = this.shadowRoot.querySelector('#user-input-id').invalid;
            }
            this.shadowRoot.querySelector('#user-input-pwd').validate();
            if (userInvalid || this.shadowRoot.querySelector('#user-input-pwd').invalid) {
              return false;
            }
            if (!(this.userPassword === this._userPassword)) {
              this.error = 'Los campos "Password" y "Repita Password" deben coincidir';
              return false;
            }
            if (this.label !== 'women' && this.label !== 'men') {
              this.error = 'Selecciona el tipo de sexo';
              return false;
            }
          }
          return true;
        }

        onRequestError(err) {
          // Validamos que la password coincide
          console.log('onRequestError');
          this.label = null;
          if (err.mensaje) {
            this.error = err.mensaje;
          }
          console.log(err);
        }

      }

      window.customElements.define(EnrollmentPage.is, EnrollmentPage);
    }
  </script>
</dom-module>
