<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/brum-global-variable/brum-global-variable.html">


<dom-module id="logout-dm">
  <template>
    <brum-global-variable key="userToken" value="{{userToken}}"></brum-global-variable>
    <brum-global-variable key="idUser" value="{{idUser}}"></brum-global-variable>

    <cells-generic-dp
      id="logoutDP"
      host="http://localhost:3000"
      path="charrobank/v1/logout"
      method="POST"
      on-request-success="_onRequestOk"
      on-request-error="_onRequestError">
    </cells-generic-dp>
  </template>

  <script>
    {
      // Define the element's API using an ES2015 class
      class LogoutDM extends Polymer.Element {
        static get is() {
          return 'logout-dm';
        }

        // Declare properties for the element's public API
        static get properties() {
          return {
            userToken: {
              type: String,
              notify: true
            },
            idUser: {
              type: String,
              notify: true
            }
          };
        }

        doLogout(path, type = 'logout-request-start') {
          console.log('Function doLogout dashboard');
          this.$.logoutDP.headers = {'x-access-tokensec': this.userToken};
          this.$.logoutDP.host = window.AppConfig.apibackend;
          this.$.logoutDP.path = 'charrobank/v1/logout/' + this.idUser;
          this.$.logoutDP.body = {};
          this.$.logoutDP.method = 'POST';
          this.$.logoutDP.generateRequest();
          this.dispatchEvent(new Event(type));
        }

        _onRequestOk(data) {
          console.log('_onRequestOk Request OK!!');
          console.log(data);
          this.dispatchEvent(new CustomEvent('logout-request-ok', data));
        }

        _onRequestError(err) {
          console.log('_onRequestError Request KO!!');
          console.log(err);
          this.dispatchEvent(new CustomEvent('logout-request-error', err));
        }
      }

      // Register the custom element with the browser
      customElements.define(LogoutDM.is, LogoutDM);
    }
  </script>
</dom-module>
