<link rel="import" href="../../../components/cells-credentials-form/cells-credentials-form.html">
<link rel="import" href="../../../components/cells-icon-message/cells-icon-message.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">

<dom-module id="login-page">

  <template is="dom-bind" id="login-view">
    <style>
      cells-credentials-form {
        padding: 20px;
      }
      cells-icon-message {
          border-radius: 5px;
          margin: 20px 20px 0px 20px;
          font-family: : var(--cells-fontDefault, sans-serif);
      }
    </style>

    <template is="dom-if" if="[[messageError]]">
      <cells-icon-message  icon="coronita:alert" type="warning" icon-label="" icon-size="26" message="[[messageError]]"></cells-icon-message>
    </template>
    <cells-credentials-form id="credentialsForm" autofocus register show-register-info clear-id-icon="coronita:close"
      clear-pwd-icon="coronita:close" toggle-pwd-icon="coronita:visualize"
      toggle-pwd-icon-toggled="coronita:hide" user-name="{{userName}}">
    </cells-credentials-form>
  </template>

  <script>
    {
      class LoginPage extends Polymer.Element {
        static get is() {
          return 'login-page';
        }

        static get properties() {
          return {
            email: {
              type: String,
              notify: true
            },
            password: {
              type: String
            },
            messageError: {
              type: String
            },
            idUser: {
              type: String,
              notify: true
            }
          };
        }

        onRequestError(err) {
          console.log('Request KO en el login!!');
          console.log(err);
          this.messageError = err.mensaje;
        }

        onRequestOK(evt) {
          console.log('Request OK en el login!! evt');
          console.log(evt);
          this.email = evt.email;
          this.idUser = evt.id;
          this.messageError = null;
        }

        reset() {
          console.log('reset en el login!!');
          this.$.credentialsForm.resetPassword();
          this.messageError = null;
        }

        resetUser() {
          console.log('resetUser en el login!!');
          this.$.credentialsForm.resetUser();
          this.messageError = null;
        }

        saveUser(data) {
          console.log('saveUser en el login.- data:');
          console.log(data);
          this.email = data.userId;
          this.messageError = null;
        }

      }
      customElements.define(LoginPage.is, LoginPage);
    }
  </script>
</dom-module>
