<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/brum-global-variable/brum-global-variable.html">

<dom-module id="enrollment-dm">

  <template>

    <brum-global-variable key="userToken" value="{{userToken}}"></brum-global-variable>
    <brum-global-variable key="idUser" value="{{idUser}}"></brum-global-variable>

    <cells-generic-dp
      id="enrollmentDP"
      host="http://localhost:3000"
      path="charrobank/v1/enrollment"
      method="POST"
      on-request-success="_onRequestOk"
      on-request-error="_onRequestError">
    </cells-generic-dp>
  </template>

  <script>
    {
      class EnrollmentDM extends Polymer.Element {
        static get is() {
          return 'enrollment-dm';
        }

        static get properties() {
          return {
            userToken: {
              type: String,
              notify: true
            },
            idUser: {
              type: String,
              notify: true
            }
          };
        }

        _onRequestOk(res) {
          console.log('_onRequestOk');
          console.log(res);
          this.userToken = res.detail.token;
          this.idUser = res.detail.id;
          this.dispatchEvent(new Event('enrollment-request-ok'));
        }

        _onRequestError(err) {
          console.log('_onRequestError');
          console.log(err);
          this.idUser = null;
          this.userToken = null;
          this.dispatchEvent(new CustomEvent('enrollment-request-error', err));
        }

        doEnrollment(data, type = 'enrollment-request-start') {
          console.log('doEnrollment');
          console.log(data);
          this.$.enrollmentDP.body = data;
          this.$.enrollmentDP.host = window.AppConfig.apibackend;
          this.$.enrollmentDP.generateRequest();
          this.dispatchEvent(new Event(type));
        }
      }

      // Register the custom element with the browser
      customElements.define(EnrollmentDM.is, EnrollmentDM);
    }
  </script>
</dom-module>
