<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/brum-global-variable/brum-global-variable.html">

<dom-module id="transactions-dm">

  <template>
    <brum-global-variable key="userToken" value="{{userToken}}"></brum-global-variable>

    <cells-generic-dp
      id="transactionsDP"
      on-request-success="_onRequestOk"
      on-request-error="_onRequestError">
    </cells-generic-dp>
  </template>

  <script>
    {
      class TransactionsDM extends Polymer.Element {
        static get is() {
          return 'transactions-dm';
        }

        // Declare properties for the element's public API
        static get properties() {
          return {
            userToken: {
              type: String,
              notify: true
            },
            accountId: {
              type: String
            }
          };
        }

        _onRequestOk(evt) {
          console.log('_onRequestOk en transacionts.- evt');
          console.log(evt);
          console.log('detail');
          console.log(evt.detail);
          console.log('this.accountId:' + this.accountId);
          if (evt.detail !== null && evt.detail.removedAccounts !== undefined) {
            console.log('Borrada cuenta');
            this.dispatchEvent(new CustomEvent('account_removed_ok', evt));
          } else {
            var datos = {
              accountId: this.accountId,
              iban: evt.detail.iban,
              movements: evt.detail.transactions
            };
            console.log(datos);
            this.dispatchEvent(new CustomEvent('movements-request-ok', {
              detail: datos
            }));
          }
        }

        _onRequestError(err) {
          console.log('_onRequestError en transacionts.- err');
          console.log(err);
          var mensajeErr;
          if (err.detail && err.detail.mensaje) {
            mensajeErr = err.detail.mensaje;
          } else {
            mensajeErr = 'Lo sentimos. Se ha producido un error.';
          }
          var datos = {
            accountId: this.accountId,
            mensaje: mensajeErr
          };
          this.dispatchEvent(new CustomEvent('movements-request-error', {
            detail: datos
          }));
        }

        doRequest(account, type = 'movements-request-start') {
          console.log('doRequest en transacionts.- account');
          console.log(account);
          if (account.productId) {
            this.accountId = account.productId;
          }
          this.$.transactionsDP.headers = {'x-access-tokensec': this.userToken};
          this.$.transactionsDP.host = window.AppConfig.apibackend;
          this.$.transactionsDP.method = 'GET';
          this.$.transactionsDP.path = 'charrobank/v1/accounts/' + this.accountId + '/transactions';
          this.$.transactionsDP.generateRequest();
          this.dispatchEvent(new Event(type));
        }

        doRemove(account, type = 'movements-request-start') {
          if (account.productId) {
            this.accountId = account.productId;
          }
          this.$.transactionsDP.headers = {'x-access-tokensec': this.userToken};
          this.$.transactionsDP.host = window.AppConfig.apibackend;
          this.$.transactionsDP.path = 'charrobank/v1/accounts/' + this.accountId;
          this.$.transactionsDP.body = {};
          this.$.transactionsDP.method = 'DELETE';
          this.$.transactionsDP.generateRequest();
          this.dispatchEvent(new Event(type));
        }
      }

      // Register the custom element with the browser
      customElements.define(TransactionsDM.is, TransactionsDM);
    }
  </script>
</dom-module>
