<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/brum-global-variable/brum-global-variable.html">


<dom-module id="login-dm">
  <template>
    <brum-global-variable key="userToken" value="{{userToken}}"></brum-global-variable>
    <brum-global-variable key="idUser" value="{{idUser}}"></brum-global-variable>

    <cells-generic-dp
      id="loginDP"
      host="http://localhost:3000"
      path="charrobank/v1/login"
      method="POST"
      on-request-success="_onRequestOk"
      on-request-error="_onRequestError">
    </cells-generic-dp>
  </template>

  <script>
    {
      // Define the element's API using an ES2015 class
      class LoginDM extends Polymer.Element {
        static get is() {
          return 'login-dm';
        }

        // Declare properties for the element's public API
        static get properties() {
          return {
            email: {
              type: String,
              notify: true
            },
            password: {
              type: String,
              notify: true
            },
            userToken: {
              type: String,
              notify: true
            },
            idUser: {
              type: String,
              notify: true
            }
          };
        }


        doLogin(data) {
          var loginData = {
            'email': data.userId,
            'password': data.password
          };
          this.$.loginDP.host = window.AppConfig.apibackend;
          this.$.loginDP.body = JSON.stringify(loginData);
          this.$.loginDP.generateRequest();
          this.dispatchEvent(new Event('login-request-start'));
        }

        doLogout() {
          console.log('Function doLogout');
          this.userToken = null;
          this.email = null;
          this.idUser = null;
          this.password = null;
        }

        _onRequestOk(data) {
          console.log('_onRequestOk Request OK!!');
          console.log(data);
          this.userToken = data.detail.token;
          this.idUser = data.detail.id;
          this.dispatchEvent(new CustomEvent('login-request-ok', data));
        }

        _onRequestError(err) {
          console.log('_onRequestError Request KO!!');
          console.log(err);
          this.userToken = null;
          this.idUser = null;
          this.dispatchEvent(new CustomEvent('login-request-error', err));
        }
      }

      // Register the custom element with the browser
      customElements.define(LoginDM.is, LoginDM);
    }
  </script>
</dom-module>
