<link rel="import" href="../../../components/cells-movements-list-item/cells-movements-list-item.html">
<link rel="import" href="../../../components/cells-modal-alert/cells-modal-alert.html">
<link rel="import" href="../../../components/cells-icon-message/cells-icon-message.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">

<dom-module id="transactions-page">
<template is="dom-bind" id="movements">
  <style>
    cells-atom-subheader {
      padding:10px;
    }
    .positionRight {
      text-align: right;
    }
    cells-bottom-modal {
      top: 50%;
    }
  </style>
  <cells-modal-alert id="dialog" type="error" icon="coronita:alert" content="¿Seguro que quieres dar de baja tu cuenta?" second-button-label="Si, estoy seguro" first-button-label="No, en otro momento"></cells-modal-alert>
  <cells-atom-subheader heading-level="0">
    <span slot="heading" class="heading">Últimos movimientos de la cuenta: [[iban]]</span>

    <div class="nav nav-right positionRight">
      <cells-st-button class="content-centered size-l primary center">
        <button id="cancelAccountBtn" on-click="_onCancelClick" data-event="cancel-account-button">
          <iron-icon icon="coronita:close" class="icon-right" aria-label$="[[t(_iconLeftLabel)]]" style$="[[_iconStyle]]"></iron-icon>
          <span>Borrar cuenta</span>
        </button>
      </cells-st-button>
      <cells-st-button class="content-centered size-l primary center">
        <button id="newOperationBtn" on-click="_onOperationsClick" data-event="operations-button">
          <iron-icon icon="coronita:transfer" class="icon-right" aria-label$="[[t(_iconLeftLabel)]]" style$="[[_iconStyle]]"></iron-icon>
          <span>Realizar operación</span>
        </button>
      </cells-st-button>
    </div>
  </cells-atom-subheader>

  <template is="dom-if" if="[[messageInfo]]">
    <style>
      cells-icon-message {
          border-radius: 5px;
          margin: 0px 20px 0px 20px;
          font-family: : var(--cells-fontDefault, sans-serif);
      }
    </style>
    <cells-icon-message  icon="coronita:info" type="info" icon-label="" icon-size="26" message="[[messageInfo]]"></cells-icon-message>
  </template>
  <template is="dom-if" if="[[messageError]]">
    <style>
      cells-icon-message {
          border-radius: 5px;
          margin: 0px 20px 0px 20px;
          font-family: : var(--cells-fontDefault, sans-serif);
      }
    </style>
    <cells-icon-message  icon="coronita:alert" type="warning" icon-label="" icon-size="26" message="[[messageError]]"></cells-icon-message>
  </template>

    <template is="dom-repeat" items="{{movements}}">
      <cells-movements-list-item
        date={{item.date}}
        label={{item.type}}
        description={{item.description}}
        parsed-amount= {{computeAmount(item.amount)}}
        parsed-accounting-balance= {{computeBalance(item.balance)}}
        date-format="DD/MM/YYYY">
      </cells-movements-list-item>
    </template>
  </template>

  <script>
    {
      class TransactionsPage extends Polymer.Element {
        static get is() {
          return 'transactions-page';
        }

        static get properties() {
          return {
            movements: {
              type: Array,
              notify: true
            },
            accountId: {
              type: Array,
              notify: true
            },
            iban: {
              type: Array,
              notify: true
            },
            messageError: {
              type: String
            },
            messageInfo: {
              type: String
            }
          };
        }

        _onOperationsClick(e) {
          var productId = this.accountId;
          console.log('_onOperationsClick .- accountId:');
          console.log(productId);
          this.dispatchEvent(new CustomEvent('operations-button-pressed', {
            detail: productId
          }));
        }

        _onCancelClick(e) {
          console.log('_onCancelClick .- productId:');
          this.$.dialog.open();
        }

        onDialogCancel() {
          console.log('onDialogCancel');
          this.$.dialog.close();
        }

        onDialogOK() {
          console.log('onDialogOK.- Borrado de la cuenta.- productId');
          this.$.dialog.close();
          var productId = this.accountId;
          console.log(productId);
          this.dispatchEvent(new CustomEvent('cancel-account-ok', {
            detail: productId
          }));
        }

        onRequestError(err) {
          console.log('onRequestError en transactions!!');
          console.log(err);
          this.messageError = null;
          this.messageInfo = null;
          if (err.mensaje) {
            this.messageError = err.mensaje;
          } else {
            this.messageError = 'Lo sentimos. Se ha producido un error. Inténtelo de nuevo pasados unos minutos.';
          }
        }

        onRequestRemovedOk(data) {
          console.log('onRequestRemovedOk en transactions-page!! data');
          console.log(data);
          this.dispatchEvent(new Event('account-removed'));
        }

        onRequestOk(data) {
          console.log('onRequestOk en transactions!! data');
          console.log(data);
          this.accountId = data.accountId;
          this.iban = data.iban;
          this.messageError = null;
          this.messageInfo = null;
          if (data !== null && data.movements !== null && data.movements.length > 0) {
            console.log('if movimientos');
            this.movements = data.movements;
            var tools = [
              {
                iconCode: 'coronita:back',
                id: 'back',
                isActive: true
              },
              {
                iconCode: 'coronita:transfer',
                id: 'Operar',
                isActive: true
              }
            ];
            this.$.toolbar = tools;
            this.dispatchEvent(new Event('empty-movements'));
            /*document.querySelector('cells-molecule-spinner-veil').hide();*/
          } else {
            console.log('if NO movimientos');
            console.log('data.accountId:' + data.accountId);
            this.messageInfo = 'No tienes movimientos en la cuenta';
            this.movements = null;
            this.dispatchEvent(new Event('empty-movements'));
          }
        }

        computeAmount(itemAmount) {
          var parsedAmount = {'value': itemAmount, 'currency': 'EUR'};
          return parsedAmount;
        }
        computeBalance(itemBalance) {
          var parsedBalance = {'value': itemBalance, 'currency': 'EUR'};
          return parsedBalance;
        }
      }
      customElements.define(TransactionsPage.is, TransactionsPage);
    }
  </script>
</dom-module>
